
<div id="brands">
	<% @brands.each do |b| %>
	<div class="box">
		<a href="#fancybox-<%=b.id%>", class="fancybox" >
			<%= image_tag(b.image.url, class: 'fancybox-logo') %>
			<span><b class="image-tag"><%= b.title %></b></span>
		</a>
	</div>

	<div style="display: none" class="fancybox-display">
		<div id="fancybox-<%= b.id %>">
			<div class="fancybox-container">
				<%= link_to root_path do %>
					<%= image_tag(b.image.url, class: 'resize-img') %>
				<% end %>
			</div>

				<div class="footer-wrapper" >
					<ul class="fancybox-button-links">
						<li><%= link_to "Learn more", brand_path(b), class: "fancybox-btn", :method => :get %></li>
						<li><%= link_to "Go to #{b.title}", "http://#{b.link}", class: 'fancybox-btn', :target => "_blank" %></li>
					</ul>
					<span class="fancybox-text"><%= b.text %></span>
				<!--/div-->
			</div>
		</div>
	</div>
<% end %>
</div>


