<%= form_for @brand, html: { multipart: true } do |b| %>

	<% if @brand.errors.any? %>
		<div id="error_explanation">
			<h2>Yikes! 
				<span id="errors"><%= @brand.errors.count %> details</span> are stopping you:
			</h2>
			<ul>
				<% @brand.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= b.label :title %><br>
		<%= b.text_field :title, class: "form-control" %>
	</p>

	<p>
		<%= b.label :text %>
		<%= b.text_area :text, class: "form-control" %>
	</p>

	<p>
		<%= b.label :image %><br>
		<%= b.file_field :image %>
	</p>

	<p>
		<%= b.label :link %>
		<%= b.text_area :link, class: "form-control" %>
	</p>

	<p>
		<%= b.submit "Submit", class: "btn btn-primary btn-lg" %>
	</p>

<% end %>