<p>
	<%= image_tag @brand.image.url(:square) %>
</p>

<p>
	<strong>Title:</strong>
	<%= @brand.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @brand.text %>
</p>

<%= link_to "Go to #{@brand.title}", "http://#{@brand.link}", class: "btn btn-primary", :target => "_blank" %>


<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', :back %>