<p>
	<%= image_tag @brand.image.url(:square) %>
</p>

<p>
	<strong>Title:</strong>
	<%= @brand.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @brand.text %>
</p>

<%= link_to "Go to #{@brand.title}", "http://#{@brand.link}", class: "btn btn-primary", :target => "_blank" %>

<table>
<tr>
<td><%= button_to "Edit", edit_brand_path(@brand), :method => :get %></td> 
<td><%= button_to "Destroy", brand_path(@brand), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
</table>
<%= link_to 'Back', :back, class: "btn btn-primary" %>